---
import Project from "./Project.astro";

const { default: projects } = await import("../../../config/projects.json");
---

<div
  class="mb-4 grid w-full grow grid-cols-1 gap-8 md:mb-8 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4"
>
  {projects.map((project) => <Project project={project} />)}
</div>

<!-- class="mt-6 text-pink-500 hover:bg-gray-300 background-transparent font-bold uppercase text-xs outline-none focus:outline-none ease-linear transition-all duration-150" -->
