---
import Contact from "../components/Contact/Contact.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>new.midka.dev</title>
  </head>
  <body>
    <PageLayout>
      <Contact />
    </PageLayout>
  </body>
</html>
