---
import BasicScripts from "../components/BasicScripts.astro";
import Header from "../components/Header.astro";
import Projects from "../components/Projects/Projects.astro";
import Social from "../components/Social.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>new.midka.dev</title>
  </head>
  <body class="bg-[#2c2c2c]">
    <Header id="header" />
    <div
      class="flex h-[calc(100vh-5rem)] w-full flex-wrap gap-16 px-4 md:px-16 lg:px-32"
    >
      <section
        class="flex min-h-fit grow basis-[350px] flex-col justify-between pt-4 pb-4 dark:bg-cyan-800 md:pt-16 md:pb-8"
      >
        <div class="mb-4">
          <h2 class="text-5xl font-bold text-white">WHO AM I?</h2>
          <p class="font-light text-white">
            - 14 years old <br />
            - "I use Arch btw" <br />
            - I like math, Physics, Programming and Design <br />
            - i play mostly minecraft and factorio
          </p>
        </div>
        <Social />
      </section>
      <div
        class="flex grow basis-[500px] flex-col pt-4 dark:bg-purple-800 md:pt-16 lg:basis-[1300px]"
      >
        <h2 class="text-5xl font-bold text-white">SHOWCASE</h2>
        <!-- <section
          class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full grow mb-4 md:mb-8"
        >
          <div class="grow bg-lime-50 rounded-sm">project</div>
          <div class="grow bg-lime-100 rounded-sm">project</div>
          <div class="grow bg-lime-200 rounded-sm">project</div>
          <div class="grow bg-lime-300 rounded-sm">project</div>
          <div class="grow bg-lime-400 aspect-square">project</div>
          <div class="grow bg-lime-500 aspect-square">project</div>
          <div class="grow bg-lime-600 aspect-square">project</div>
          <div class="grow bg-lime-700 aspect-square">project</div>
          <div class="grow bg-lime-800 aspect-square">project</div>
        </section> -->
        <Projects />
      </div>
    </div>

    <BasicScripts />

    <script>
      import { animate } from "motion";

      animate(
        "#header",
        {
          transform: "translateY(0px)",
        },
        {
          duration: 1,
        }
      );
    </script>
  </body>
</html>
