---
import BasicScripts from "../components/BasicScripts.astro";
import MainHero from "../components/MainHero.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>new.midka.dev</title>
  </head>
  <body class="h-screen bg-[#252525] text-white">
    <MainHero />
    <BasicScripts />
  </body>
</html>
