---
import EmailSection from "./EmailSection.astro";
import InfoSection from "./InfoSection.astro";
import SocialSection from "./SocialSection.astro";
---

<section class="grid h-full min-h-screen w-full grow grid-cols-1">
  <InfoSection class="" />
  <EmailSection
    class="bg-primary"
    codeClass="bg-primarydark"
    email="me@midka.dev"
  />
  <EmailSection
    class="bg-secondary"
    codeClass="bg-secondarydark"
    email="support@midka.dev"
  />
  <SocialSection class="bg-accent" />
</section>
