---
import Section from './Section.astro';
---

<Section class="bg-white pl-8 pt-8">
  <h1 class="text-black font-semibold text-3xl font-firacode mb-8">
    GET IN TOUCH
  </h1>

  <p class="text-black text-xl">
    Any Questions? You can contact me with these. <br />
    <br /> Please encrypt your emails with <span class="text-pink-500 underline"
      >OpenPGP</span
    >.
    <br />
    You can find the public key under the email address.
  </p>
</Section>
