---
import Section from "./Section.astro";
export interface Props {
  class?: string;
}

const { class: styles } = Astro.props;
---

<Section class={`bg-white dark:bg-dark pl-8 pt-8 ${styles}`}>
  <h1
    class="font-firacode mb-8 text-3xl font-semibold text-black dark:text-white"
  >
    GET IN TOUCH
  </h1>

  <p class="text-xl text-black dark:text-white">
    Any Questions? You can contact me with these. <br />
    <br /> Please encrypt your emails with <a
      href="https://openpgp.org/"
      target="_blank"
      class="text-pink-500 underline">OpenPGP</a
    >.
    <br />
    You can find the public key under the email address.
  </p>
</Section>
