---
import Social from '../Social.astro';
import Section from './Section.astro';

export interface Props {
  class?: string;
}

const { class: styles = '' } = Astro.props;
---

<Section class={`flex items-center justify-center  ${styles}`}
  ><Social type="contact" />
</Section>
