---
export interface Props {
  label: string;
}

const { label } = Astro.props;
---

<div
  class="bg-glassy mx-auto mb-10 flex min-h-[300px] w-fit flex-col rounded-xl bg-white bg-opacity-60 px-8 pb-8 drop-shadow-lg"
>
  <h1 class="mb-4 w-full px-3 pt-3 pb-2 text-2xl font-medium text-black">
    {label}
  </h1>
  <div class="mx-auto bg-white"><slot /></div>
</div>
