---
export interface Props {
  label: string;
}

const { label } = Astro.props;
---

<div
  class="bg-glassy bg-white bg-opacity-60 rounded-xl w-fit px-8 pb-8 mx-auto mb-10 flex flex-col min-h-[300px] drop-shadow-lg"
>
  <h1 class="text-black font-medium text-2xl mb-4 w-full px-3 pt-3 pb-2">
    {label}
  </h1>
  <div class="bg-white mx-auto"><slot /></div>
</div>
