---
export interface Props {
  label?: string;
}

const { label } = Astro.props;
---

<div class="relative flex items-center py-8">
  <div class="flex-grow border-t border-gray-800 dark:border-gray-400"></div>
  {
    label && (
      <span class="mx-4 flex-shrink border-gray-800 text-xl dark:border-gray-400">
        {label}
      </span>
    )
  }
  <div class="flex-grow border-t border-gray-800 dark:border-gray-400"></div>
</div>
