---
export interface Props {
  label?: string;
}

const { label } = Astro.props;
---

<div class="relative flex py-8 items-center">
  <div class="flex-grow border-t border-gray-800 dark:border-gray-400"></div>
  {
    label && (
      <span class="flex-shrink mx-4 border-gray-800 dark:border-gray-400 text-xl">
        {label}
      </span>
    )
  }
  <div class="flex-grow border-t border-gray-800 dark:border-gray-400"></div>
</div>
