---
export interface Props {
  label?: string;
}

const { label } = Astro.props;
---

<div class="relative flex py-5 items-center">
  <div class="flex-grow border-t border-gray-400"></div>
  {label && <span class="flex-shrink mx-4 text-gray-400">{label}</span>}
  <div class="flex-grow border-t border-gray-400"></div>
</div>
