---
export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={`bg-[#1f1f1f] transition ease-in duration-150 opacity-40 hover:opacity-90 border border-solid border-[#1f1f1f] hover:border-[#3d3d3d] border-opacity-10 p-4 rounded-md ${className}`}
>
  <slot />
</div>
