---
import ThemeToggle from './ThemeToggle.astro';

export interface Props {
  [key: string]: string;
}

const { ...props } = Astro.props;
---

<header
  class="h-20 flex text-white justify-center items-center px-4 md:px-16 lg:px-32 w-full border-b translate-y-[-20rem]"
  {...props}
>
  <h1 class="text-xl font-semibold">new.midka.dev</h1>
  <nav class="mx-auto hidden md:block">
    <ul class="flex gap-16 items-center justify-center">
      <li class="text-lg font-medium">About</li>
      <li class="text-lg font-medium">Projects</li>
      <li class="text-lg font-medium">Contact</li>
    </ul>
  </nav>
  <div class="items-center justify-center flex ml-auto">
    <ThemeToggle />
  </div>
  <!-- Show if screen<md (dropdown) -->
  <!-- <div class="ml-auto md:hidden">hello</div> -->
</header>
