---
import ThemeToggle from './ThemeToggle.astro';
---

<header class="py-10 mb-12 flex justify-between items-center">
  <h1 class="text-xl font-semibold">new.midka.dev</h1>
  <nav>
    <ul class="flex items-center md:gap-8 gap-4">
      <li><ThemeToggle /></li>
      <li>
        <a
          href="/contact"
          class="bg-gradient-to-br from-primary to-secondary font-semibold text-white px-4 py-2 border-none rounded-md"
        >
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
