---
import ThemeToggle from './ThemeToggle.astro';
---

<header class="py-10 mb-12 flex justify-between">
  <h1 class="text-xl">new.midka.dev</h1>
  <nav>
    <ul class="flex items-center gap-8">
      <li><ThemeToggle /></li>
      <li>CV</li>
    </ul>
  </nav>
</header>
