---
import ProfilePicture from './ProfilePicture.astro';
---

<div class="flex flex-col items-center justify-center">
  <ProfilePicture source="/pfp.jpg" />
  <h1 class="text-2xl font-medium text-white mt-6">Midka</h1>
  <p class="text-xl text-white mt-8 text-center">
    Hi! I'm Midka from Finland. <br />I love open-source projects and I'm just
    14.
  </p>
</div>
