---
import GridCard from "./GridCard.astro";
import NavigationLink from "./NavigationLink.astro";
---

<GridCard class="row-span-2 flex flex-col justify-between items-center">
  <h1 class="py-2 text-3xl font-bold">new.midka.dev</h1>
  <ul class="my-4 flex h-full min-w-full flex-col divide-y divide-slate-500">
    <NavigationLink href="/">Home</NavigationLink>
    <NavigationLink href="/work">Work</NavigationLink>
    <NavigationLink href="/blog">Blog</NavigationLink>
    <NavigationLink href="/contact">Contact</NavigationLink>
  </ul>
  <div class="flex w-full flex-col">
    <p class="text-sm text-slate-500">© 2023 Midka</p>
  </div>
</GridCard>
