---
export interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<li class="grow hover:bg-black hover:bg-opacity-30">
  <a
    href={href}
    class="flex h-full grow items-center justify-center rounded-md p-4 first:pt-0 last:pb-0"
  >
    <slot />
  </a>
</li>
