---
import Project from './Project.astro';

const { default: projects } = await import('../../config/projects.json');
---

<div>
  <div class="flex items-center justify-center mb-8">
    <h1
      class="font-bold text-3xl dark:text-white text-black m-4 p-4 bg-primary bg-opacity-80 dark:bg-opacity-60 w-fit"
    >
      My Projects
    </h1>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-16"
  >
    {projects.map((project) => <Project project={project} />)}
  </div>
</div>

<!-- class="mt-6 text-pink-500 hover:bg-gray-300 background-transparent font-bold uppercase text-xs outline-none focus:outline-none ease-linear transition-all duration-150" -->
