---
import { Icon } from "astro-icon";
const { default: socials } = await import("../../config/socials.json");
---

<div class="wrapper flex">
  {
    socials.map((item) => (
      <a href={item.link} target="_blank" aria-label={item.name}>
        <Icon alt={`Logo for ${item.name}`} name={item.icon} />
      </a>
    ))
  }
</div>

<style lang="scss">
  .wrapper {
    --gap: 0.5em;

    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    a {
      color: hsl(var(--clr-white));
      transition: color 0.2s ease-in-out;
      display: grid;
      place-items: center;
      height: 2.5em;
      width: 2.5em;

      &:hover {
        color: hsl(var(--clr-primary));
      }
    }
  }
</style>
