---
import Icon from 'astro-icon';

const { default: socials } = await import('../../config/socials.json');
---

<div class="m-4 mb-0 flex gap-2 h-fit justify-center">
  {
    socials.map((item) => (
      <a href={item.link} target="_blank" aria-label={item.name}>
        <Icon
          class="h-6 hover:scale-125"
          alt={`${item.icon}_logo`}
          name={item.icon}
        />
      </a>
    ))
  }
</div>
