---
import Icon from 'astro-icon';

const { default: socials } = await import('../../config/socials.json');
---

<div class="m-4 flex gap-2 h-fit justify-center">
  {
    socials.map((item) => (
      <a href={item.link} target="_blank">
        <Icon
          class="h-6 grayscale hover:grayscale-0 hover:scale-110"
          name={item.icon}
        />
      </a>
    ))
  }
</div>
