---
import Box from './Box.astro';
import TechnologyCard from './TechnologyCard.astro';

const technologies: { name: string; color: string; icon: string }[] = [
  {
    name: 'TypeScript',
    color: 'hover:text-cyan-600',
    icon: 'cib:typescript',
  },
  {
    name: 'Node.js',
    color: 'hover:text-lime-600',
    icon: 'fontisto:nodejs',
  },
  {
    name: 'Vite',
    color: 'hover:text-purple-600',
    icon: 'file-icons:vite',
  },
  {
    name: 'Git',
    color: 'hover:text-red-600',
    icon: 'bi:git',
  },
  {
    name: 'React',
    color: 'hover:text-cyan-600',
    icon: 'akar-icons:react-fill',
  },
  {
    name: 'Next',
    color: 'hover:text-white',
    icon: 'akar-icons:nextjs-fill',
  },
  {
    name: 'Astro',
    color: 'hover:text-orange-500',
    icon: 'simple-icons:astro',
  },
  {
    name: 'Tailwind',
    color: 'hover:text-cyan-600',
    icon: 'file-icons:tailwind',
  },
  {
    name: 'Redux',
    color: 'hover:text-violet-600',
    icon: 'akar-icons:redux-fill',
  },
  {
    name: 'Prisma',
    color: 'hover:text-white',
    icon: 'file-icons:prisma',
  },
  {
    name: 'MongoDB',
    color: 'hover:text-green-600',
    icon: 'cib:mongodb',
  },
  {
    name: 'Figma',
    color: 'hover:text-pink-600',
    icon: 'simple-icons:figma',
  },
];
---

<Box label="Tech Stack"
  ><div
    class="grid grid-cols-4 gap-4 bg-slate-100/[.06] dark:bg-slate-100/[.60] backdrop-blur-xl"
  >
    {
      technologies.map((tech) => (
        <TechnologyCard name={tech.name} icon={tech.icon} color={tech.color} />
      ))
    }
  </div>
</Box>
