---
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props as { entry: CollectionEntry<"projects"> };
const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>
<p>stack: {entry.data.stack.join(" ")}</p>
<p>published at: {entry.data.publishDate}</p>
<section class="prose">
  <Content />
</section>
