---
export interface Props {
  link: string;
  label: string;
}

const { link, label } = Astro.props;
---

<li>
  <a href={link} class="hover:underline text-gray-700 dark:text-gray-400"
    >{label}
  </a>
</li>
