---
export interface Props {
  title?: string;
  class?: string;
}

const { title = "new.midka.dev", class: className }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="noise-container z10">
      <div class="noise"></div>
      <div class={className}>
        <slot />
      </div>
    </main>
  </body>
</html>

<style>
  main {
    height: 100%;
    min-height: 100vh;
  }
</style>

<style is:global>
  .z10 {
    z-index: 10;
  }
  .noise-container {
    position: relative;
    isolation: isolate;
    /* background-color: hsl(var(--clr-background)); */
  }

  .noise-underlay {
    z-index: -2;
    position: relative;
  }

  .noise {
    z-index: -1;
    position: absolute;
    inset: 0;
    background-image: url("/assets/noise.png");
    opacity: 0.2;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
</style>
