---
import BasicScripts from '../components/BasicScripts.astro';
import Header from '../components/Header.astro';
---

<BasicScripts />
<main
  class="bg-light dark:bg-dark dark:text-white text-black min-h-screen flex flex-col"
>
  <slot name="before-header" />
  <section class="mb-8">
    <Header />
  </section>

  <slot />

  <!-- <Footer /> -->
  <slot name="after-footer" />
</main>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');
</style>
